<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    {% include header.html %}
  </head>
  <body class="bg-white dark:bg-dark seceltion font-Inter">
    {% include nav.html %}
    <main id="main-content" class="site-content">
      <article
        class="page-content post-64 page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">{{ page.title }}</h1>
        </header>
        <div class="entry-content">{{ page.content }}</div>
        </article>
    </main>
    {% include footer.html %}
  </body>
</html>
